{% extends "layout.html" %}
{% load i18n %}
{% block content %}
<div class="notification has-background-info-light" id="dev-chat">
    <h2 class="title is-5">
        Developer Chat
    </h2>
    <p>
        We use <a href="https://matrix.to/#/#givntek:matrix.org" target="_blank">Matrix</a> for GivnTek development chat — it's a great place to ask questions and get help. 
        It's focused on development of GivnTek software and running GivnTek instances, but all kinds of GivnTek discussion is welcome.
    </p>
</div>
{% endblock content %}
