{% extends "layout.html" %}

{% block content %}
<section>
    <div class="container center">
      <h1 class="font-fira">Givn<strong>Tek</strong></h1>
      <h2 class="font-fira">An ad site for the fediverse</h2>
      <ul class="flex w-50 content-around mx-auto">
        <li class=""><a class="button primary font-sans" href="">Join a server</a></li>
        <li class=""><a class="button primary font-sans" href="">Host a server</a></li>
      </div>
    </div>
    
    </section>
  
    <section>
  
    <div class="container">
      <div class="text-center">
        <h2 class="font-fira center">Exchange items all over the world</h2>
        <p>
        <div><a href="https://github.com/givntek">GivnTek</a> is similar to a site like <a href="https://www.vinted.com/">Vinted</a> : you bookmark the items you are interested in, make offers, and make arrangements with other members. GivnTek is not just an alternative to Vinted; it's a network of interconnected sites run by different communities, all of which combine to create <strong>one big bazaar</strong> with all the listings you like.</div>
        </p>
        <p class="center"><a class="button primary font-sans" href="/instances">Join a server</a></p>
      </div>
    </div>
    <section>
        <div class="container grid cols-3">
            <article>
                <h3  class="font-fira center">Optimize your bazaar</h3>
                <p>Take inventory of your items, indicate which ones you give away, which ones you would like to trade and which ones you want to sell. You keep control of the transactions, at all times. </p>
            </article>
        
            <article>
                <h3  class="font-fira center">Monitor multiple geographic areas</h3>
                <p>Your local areas are as numerous as the addresses in your profile. Expand your reach without going through a carrier.</p>
            </article>
        
            <article>
                <h3  class="font-fira center">Connect through objects</h3>
                <p>Because our possessions depend on our activities, by exchanging objects you meet people who share your tastes, your skills, your hobbies. Be open to new relations.</p>
            </article>
        </div>
    </section>
  
    <section>
  
      <article>
          <h2  class="font-fira center">Make more and more bazaar !</h2>
        <p>With GivnTek, you can easily host your own server, and create your own little market for you and your family. Thanks to the federation, your ads appear on all other connected servers, and you also have access to the bazaars of their users. You don't need to create an account on each site: they are all designed to recognize you.</p>
      </article>
  
    </section>
  

  
{% endblock content %}