{% extends "layout.html" %}
{% load i18n %}
{% block content %}
<div class="container is-max-desktop">
    <section class="section">
        <header class="block has-text-centered">
            <h1 class="title is-1">{% trans "Join GivnTek" %}</h1>
            <p class="subtitle">{% trans "A Network of Small, Self-Directed Communities" %}</p>
        </header>
    </section>
    <section class="section p-5">
        <div class="block content">
            <p>
                {% trans "Instead of one huge GivnTek site, there are many instances of GivnTek which can interact seamlessly with one another. You can have the benefits of small community you trust, while still interacting with a large network of interesting new people (when you want to)." %}
            </p>
            <p>
                {% trans "This means there isn't just one place to sign up! You can select an instance that sounds like a good fit for your interests, close to where you live or just try one at random — they're all very nice." %}
            </p>
        </div>
    
        <div class="grid cols-2">
            
            
            <div class="column is-6">
                <div class="card is-stretchable">
                    <header class="card-header">
                      <p class="card-header-title">
                      <a href="https://givn.today/">GivnToday</a>
                      </p>
                    </header>
                    <div class="card-content is-flex-grow-1 is-flex">
                      <div class="columns is-mobile content">
                            <div class="column is-flex is-flex-direction-column">
                              <div class="is-flex-grow-1 pb-3">GivnToday's flagship instance: Exchange your goods, find out what your friends want to give or get, tell your trades on your own terms.</div>
                              <div>
                                  
                                      <a href="https://givn.today/" class="button is-success is-rounded is-multiline">Join instance</a>
                                  
                              </div>
                          </div>
                      </div>
    
                    </div>
                    <footer class="card-footer has-text-centered">
                        <span class="card-footer-item">1 users</span>
                        <span class="card-footer-item">Open registration</span>
                        <span class="card-footer-item">Version 0.0.1</span>
                        <a href="/about" class="card-footer-item">Learn More</a>
                    </footer>
                </div>
            </div>
      </div>
    </section>
    
    </div>
    {% endblock content %}