{% load i18n %}
<nav class="container">
    <h3 class="font-fira">{% trans "codebase" %}</h3>
    <ul class="flex w-100 flex-col items-center font-sans"> 
      <li><a href="/docs/code/activitypub" title="Retour à l'accueil">{% trans "ActivityPub" %}</a></li>
      <li><a href="/docs/code/permissions">{% trans "Permissions" %}</a></li>
    </ul>
    <h3 class="font-fira">{% trans "contribute" %}</h3>
    <ul class="flex w-100 flex-col items-center font-sans"> 
        <li><a href="/contribute">{% trans "How to contribute" %}</a></li>
        <li><a href="/docs/help/developers">{% trans "Developer environment" %}</a></li>
        <li><a href="/docs/help/translations">{% trans "Translations" %}</a></li>
        <li><a href="/docs/help/customize">{% trans "customize givntek" %}</a></li>
        <li></li>
      </ul>
      <h3 class="font-fira">{% trans "running givntek" %}</h3>
      <ul class="flex w-100 flex-col items-center font-sans"> 
          <li><a href="/docs/run/production">{% trans "Put in production" %}</a></li>
          <li><a href="/docs/run/updating">{% trans "Updating your instance" %}</a></li>
          <li><a href="/docs/run/images">{% trans "Images" %}</a></li>
          <li><a href="/docs/run/docker">{% trans "Docker" %}</a></li>
          <li></li>
        </ul>
    </nav>