<nav class="container">
    <h3 class="font-fira">codebase</h3>
    <ul class="flex w-100 flex-col items-center font-sans"> 
      <li><a href="/docs/code/activitypub" title="Retour à l'accueil">ActivityPub</a></li>
      <li><a href="/docs/code/permissions">Permissions</a></li>
    </ul>
    <h3 class="font-fira">contribute</h3>
    <ul class="flex w-100 flex-col items-center font-sans"> 
        <li><a href="/contribute">How to contribute</a></li>
        <li><a href="/docs/help/developers">Developer environment</a></li>
        <li><a href="/docs/help/translations">Translations</a></li>
        <li><a href="/docs/help/customize">customize givntek</a></li>
        <li></li>
      </ul>
      <h3 class="font-fira">running givntek</h3>
      <ul class="flex w-100 flex-col items-center font-sans"> 
          <li><a href="/docs/run/production">Put in production</a></li>
          <li><a href="/docs/run/updating">Updating your instance</a></li>
          <li><a href="/docs/run/images">Images</a></li>
          <li><a href="/docs/run/docker">Docker</a></li>
          <li></li>
        </ul>
    </nav>