{% extends "layout.html" %}
{% load i18n %}

{% block content %}
<section>
    <div class="container center">
      <h1 class="font-fira">Givn<strong>Tek</strong></h1>
      <h2 class="font-fira">Un site d'annonces pour le fediverse</h2>
      {{ localize_key }}  {#2#}
      {% translate "I am localized inside the template." %} 
      <ul class="flex w-50 content-around mx-auto">
        <li class=""><a class="button primary font-sans" href="">Rejoindre un serveur</a></li>
        <li class=""><a class="button primary font-sans" href="">Héberger un serveur</a></li>
      </div>
    </div>
    
    </section>
  
    <section>
  
    <div class="container">
      <div class="text-center">
        <h2 class="font-fira center">Echangez des objets partout dans le monde</h2>
        <p>
        <div><a href="https://github.com/givntek">GivnTek</a> s'apparente à un site comme <a href="https://www.vinted.com/">Vinted</a> : vous mettez en favoris les objets qui vous intéressent, vous faite des offres, et vous vous arrangez avec les autres inscrits. GivnTek n'est pas seulement une alternative à Vinted ; c'est un réseau de sites interconnectés gérées par des communautés différentes, qui se combinent toutes pour créer <b>un seul et unique grand bazar</b> avec toutes les annonces qui vous plaisent.</div>
        </p>
        <p class="center"><a class="button primary font-sans" href="/instances">Rejoindre un serveur</a></p>
      </div>
    </div>
    <section>
        <div class="container grid cols-3">
            <article>
                <h3  class="font-fira center">Optimisez votre bazar</h3>
                <p>Faites l'inventaire de vos objets, indiquez ceux que vous donnez, ceux que vous aimeriez échanger et ceux que vous souhaitez vendre. Vous gardez le contrôle sur les transactions, tout le temps.</p>
            </article>
        
            <article>
                <h3  class="font-fira center">Surveillez plusieurs zones géographiques</h3>
                <p>Vos espaces locaux sont aussi nombreux que les adresses dans votre profil. Etendez votre champ d'action sans passer par un transporteur.</p>
            </article>
        
            <article>
                <h3  class="font-fira center">Tissez du lien par les objets</h3>
                <p>Parce que nos possessions dépendent de nos activités, en échangeant des objets vous rencontrez des personnes qui partagent vos goûts, vos compétences, vos loisirs. Soyez ouverts aux nouvelles rencontres.</p>
            </article>
        </div>
    </section>
  
    <section>
  
      <article>
          <h2  class="font-fira center">Mettez de plus en plus de bazar !</h2>
        <p>Avec GivnTek, vous pouvez facilement héberger votre propre serveur, et créer votre petit marché pour vous et votre famille. Grâce à la fédération, vos annonces apparaissent sur tous les autres serveurs connectés, et vous avez également accès aux bazars de leurs utilisateurs. Vous n'avez pas besoin de faire un compte sur chaque site : ils sont tous conçus pour vous reconnaître.</p>
      </article>
  
    </section>
  

  
{% endblock content %}